{% extends 'base.html' %}


{% block content %}


{% if data.status == 'success' %}

<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('/static/images/bg_1.jpg')">
<div class="container">
	<div class="row align-items-end">
		<div class="col-lg-7">
			<h2 class="mb-0">Transaction Successfull</h2>
		</div>
	</div>
</div>
</div> 
<br><br><br>
<div class="container">
<div class="row">
	<div class="well col-sm-12">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6">
				
                 {{ var }}
				<form action="/refer/" method="POST">
					{% csrf_token %}
					<input type="hidden" name="pdi" value="{{ data.net_amount_debit }}">
					<input type="hidden" name="fn" value="{{ data.firstname }}">
					<input type="hidden" name="ad1" value="{{ data.address1 }}">
					<input type="hidden" name="ad2" value="{{ data.address2 }}">
					<input type="hidden" name="city" value="{{ data.city }}">
					<input type="hidden" name="phone" value="{{ data.phone }}">
					<input type="hidden" name="txid" value="{{txnid}}">
					<input type="hidden" name="dis" value="{{ data.discount }}">
					<input type="hidden" name="net" value="{{ data.net_amount_debit }}">
					<label>Enter Referral ID to Continue*</label>
					<input type="Text" name="refer" required="true">
					<input type="submit" class="btn" name=""><br><br><br><br>
				</form>
				<address>
					<strong>{{ data.firstname }}</strong>
					<br>
					{{ data.address1 }}
					<br>
					{{ data.address2 }}
					<br>
					{{ data.city }}
					<abbr title="Phone">P:</abbr>{{ data.phone }}
				</address>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 text-right">
				<p>
					<em>{{ data.addedon }}</em>
				</p>
				<p>
					<em>Receipt #: {{txnid}}</em>
				</p>
			</div>
		</div>
		
		<div class="row">
			<div class="text-center">
				<h1>Receipt</h1>
			</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Product</th>
					<th>#</th>
					<th class="text-center">Price</th>
					<th class="text-center">Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="col-md-9"><h4><em>{{ data.productinfo }}</em></h4></td>
					<td class="col-md-1" style="text-align: center"> 1 </td>
					<td class="col-md-1 text-center">₹ {{ data.net_amount_debit }}</td>
					<td class="col-md-1 text-center">₹ {{ data.net_amount_debit }}</td>
				</tr>
				<tr>
					<td>   </td>
					<td>   </td>
					<td class="text-right">
						<p>
							<strong>Subtotal: </strong>
						</p>
						<p>
							<strong>Banking Charges:</strong>
						</p>
					</td>
						<td class="text-center">
							<p>
								<strong>₹ {{ data.net_amount_debit }}</strong>
							</p>
							<p>
								<strong>2%</strong>
							</p>
						</td>
						</tr>
						<tr>
							<td>   </td>
							<td>   </td>
							<td class="text-right"><h4><strong>Total: </strong>₹ {{ data.net_amount_debit }}</h4></td>
							<td class="text-center text-danger"><h4><strong>₹ {{ data.net_amount_debit }}</strong></h4></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% else %}
<br><br><br><br><br>
<div class="container">

		<div class="row">
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Sorry!</strong> You Transation is  {{ data.status }}		
.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
	</div>
<br>

		<div class="row">
<a href="/order/checkout" class="btn btn-outline-success"> TRY AGAIN</a>
</div>
<br><br><br>
</div>	

{% endif %}		
	{% endblock %}
