{% extends 'blog/base.html' %}
{% load static %} 

{% block breadcrumbs %}
  {{ block.super }} <div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('images/bg_1.jpg')">
        <div class="container">
          <div class="row align-items-end">
            <div class="col-lg-7">
              <h2 class="mb-0">About Us</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
          </div>
        </div>
      </div> 
{% endblock %}

{% block content %}
<br><br><br><br>

    <div class="news-updates">
      <div class="container">
         
        <div class="row">
          <div class="col-sm-12">
             <div class="section-heading">
              <h2 class="text-black">BLOGS</h2>
              <a href="#">Read All Blogs</a>
            </div>
             {% for post in posts %}
               

            <div class="row">
             
              <div class="col-sm-12">
                <div class="post-entry-big horizontal d-flex mb-4">
                  <div class="post-content">
                    <div class="post-meta">
                     <h3 class="post-heading">  
                     <a href="{% url 'blog:post-detail' slug=post.slug %}">{{ post.title }}</a>
                     <a style="float:right;" href="#">{{ post.published_date|date:"F j, Y" }}</a>
                   

                   </h3>
                    
                    <a href="news-single.html">{{ post.snippet|safe }}</a>
                    <br>

                      <h3 class="post-heading">  <a class="btn" href="{% url 'blog:post-detail' slug=post.slug %}">Read more &rarr;</a></h3>
                                    </div>
                  </div>
                </div>

              </div>
            </div>
                             {% empty %}
                 {% endfor %}
          </div>
        </div>
                           {% include 'includes/pagination.html' with url_name='blog:post-list' %}
 
      </div>
    </div>

 
                 
    {% endblock content %}

