{% extends "base.html" %}

{% block title %}Contact Us &middot; {{ block.super }}{% endblock %}

{% block breadcrumb-wrapper %}{% endblock %}
 
{% block content %}
    <footer>
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-12">
                    <div class="contact-form bottom">
                        <br><br><br><br><br><br>
                        <h2><br>Connect With Us</h2>
                        <form id="main-contact-form" name="contact-form" method="post" >
                            {% csrf_token %}
                            <div class="form-group">
                                {% include 'includes/_field.html' with field=form.name %}
                            </div>
                            <div class="form-group">
                                {% include 'includes/_field.html' with field=form.email %}
                            </div>
                            <div class="form-group">
                                {% include 'includes/_field.html' with field=form.message %}
                            </div>
                            <div class="form-group">
                                {% include 'includes/_field.html' with field=form.subject %}
                            </div>                        
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-submit" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="image-responsive" align="center">
                        <br><br><br><br>
                        <h2><br>Find Us on Map </h2>
                                                                       <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1478.1973019393608!2d76.39267530845284!3d30.329632493869823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sin!4v1569498664882!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:2px; border-radius: 5px;" allowfullscreen></iframe>       
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}